<div class="deal-card-list frow">
  <div *ngFor="let deal of deals" class="deal col-md-1-3">
    <a [routerLink]="dealRouteResolver.resolve(deal)">
      <app-deal-card [deal]="deal"></app-deal-card>
    </a>
  </div>
  <div *ngFor="let deal of deals" class="deal col-md-1-3">
    <a [routerLink]="dealRouteResolver.resolve(deal)">
      <app-deal-card [deal]="deal"></app-deal-card>
    </a>
  </div>
  <div *ngFor="let deal of deals" class="deal col-md-1-3">
    <a [routerLink]="dealRouteResolver.resolve(deal)">
      <app-deal-card [deal]="deal"></app-deal-card>
    </a>
  </div>
  <div *ngFor="let deal of deals" class="deal col-md-1-3">
    <a [routerLink]="dealRouteResolver.resolve(deal)">
      <app-deal-card [deal]="deal"></app-deal-card>
    </a>
  </div>
  <div *ngFor="let deal of deals" class="deal col-md-1-3">
    <a [routerLink]="dealRouteResolver.resolve(deal)">
      <app-deal-card [deal]="deal"></app-deal-card>
    </a>
  </div>
</div>