<div class="deal-card">
  <md-card>
    <div md-card-image class="deal-image" [ngStyle]="{ 'background-image': 'url(' + dealImage + ')' }">
    </div>
    <md-card-content>
      <h3 class="deal-name">{{ deal.name }}</h3>
      <div class="deal-merchant">
        <span class="deal-merchant-name">{{ deal.merchant.name }}</span>
        <span>-</span>
        <span class="deal-merchant-area">London</span>
      </div>
      <div class="deal-price">
        <div class="deal-original-price" *ngIf="deal.originalPrice">{{ deal.originalPrice | currency:'GBP':true:'1.2-2' }}</div>
        <div class="deal-new-price">{{ deal.price }}</div>
      </div>
    </md-card-content>
  </md-card>
</div>
