@import "../../../../../assets/mixins";

.deal-card {

    .deal-image {
        @include background-image-centered();
        height: 250px;
    }

    .deal-name {
        @include overflow-ellipses();
        margin-bottom: 3px;
    }

    .deal-merchant {
        @include overflow-ellipses();
        color: darken(#fff, 20%);
    }

    .deal-price {
        margin-top: 10px;
        text-align: right;

        .deal-original-price {
            text-decoration: line-through;
            color: darken(#fff, 20%);
        }

        .deal-new-price {
            color: #7b1fa2;
            font-size: 1.8em;
            font-weight: bold;
            margin-top: 3px;
        }
    }
}