@import "../../../../../assets/mixins";

.navbar {
    $font-color: darken(#fff, 5%);;

    md-toolbar {
        a {
            color: $font-color;
            text-decoration: initial;

            &.title {
                @include transition(color 0.2s ease);
                font-weight: bold;


                &:hover {
                    color: #fff;
                }
            }
        }

        .location-select {
            margin-left: 30px;
        }

        .fill-space {
            @include flex(1, 1, auto);
        }
    }
}