@import "../node_modules/frow/sass/_frow";
@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";

body {
    margin: 0;
}

[class*=col-] {
    padding-left: 15px;
    padding-right: 15px;
}